/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2016, 11:41:02 PM
    Author     : Brittany
*/

#top{
    z-index: 3;
    position:absolute;
    margin-left: 50px;
    margin-top: 20px;
}

#bottom{
    z-index: 2;
    position:absolute;
    margin-left: 50px;
    margin-top: 20px;
}

#hair{
    z-index: 0;
    position:absolute;
    margin-left:50px;
    margin-top: 20px;
}

#frown{

}
#longhair{
    margin-left:50px;
    margin-top: 20px;
    position:absolute;
}

#necklace{
    position:absolute;
    margin-left: 50px;
    margin-top: 20px;
    z-index: 4;
}

#shoes{
    margin-left:50px;
    margin-top: 20px;
    position:absolute;
    z-index: 5;
}

.clicknone{
    
}
.clicktop{
    position:static;
}

.clickshoes{
    position:static;

}

.clicknecklace{
    position:static;
}
.clickbottom{
    position:static;
}

#hannelore{
    margin-left: 50px;
    margin-top: 20px;
    z-index: 1;
    position: absolute;
}

#drawers{
    width: 30%;
    height: 30px;
    top:0px;
    right: 20px;
    position:fixed;
    float:right;
}